table {
  width: 100%;
  border-collapse: collapse; /* Merges adjacent borders */
  margin-bottom: 20px;
}

th, td {
  border: 3px solid #ba9595; /* Light grey border */
  padding: 8px;
  text-align: left; /* Aligns text to the left */
  font-weight: bolder;
  font-family: inherit; /* Ensures Tamil words use the same font weight */
}

th:first-child, td:first-child {
  width: 250px; /* Increase width for first column */
}

th {
  background-color: #550f0f; /* Light grey background for headers */
  color: #ffe0e0; /* Darker text color for headers */
}

tr:nth-child(even) {
  background-color: #ffefef; /* Zebra striping for readability */
}

tr:hover {
  background-color: #dfc4c4; /* Light hover effect for rows */
}

.agenda-item {
  font-weight: 430;
  font-family: inherit; /* Ensures Tamil words use the same font weight */
}